img {
    max-width: 100%;
    display: inline-block;
}
header {
    display: table;
    width: 100%;
}

header .header__inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.smiley-face,
.logo {
    text-align: center;
    max-height: 116px;
}

.smiley-face {
    max-width: 116px;
    padding: 1.25rem;
}


.section {
    padding: 8rem 0;
}

.section.section__grey {
    background-color: #e1e1e1;
}

.cloze-inputs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cloze-inputs > li {
    display: block;
    float: left;
    padding: 2rem;
    width: 25%;
}

/*
.form-contents,
.hide_form .form-results {
    display: block
}
.form-results,
.hide_form .form-contents {
    display: none;
}
*/



.cloze-inputs > li > input,
.cloze-inputs > li > select {
    width: 100%;
}

.validation-error {
    overflow: hidden;
    transition: all ease-in 0.2s;
}

.validation-error.ng-enter,
.validation-error.ng-leave.ng-leave-active {
    opacity: 0;
}

.validation-error.ng-leave,
.validation-error.ng-enter.ng-enter-active {
    opacity: 1;
}

.section-animations {
    transition: all ease-in 0.5s;
}

.form-results.ng-hide-add
{
    display: block !important;
    opacity: 1;
}

.form-contents.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.form-results.ng-hide-remove,
.form-contents.ng-hide-remove {
    opacity: 0;
    transition-delay: 1s;
}

.form-contents.ng-hide-remove {
    padding: 0;
    height: 0;
}

.form-contents.ng-hide-remove.ng-hide-remove-active {
    display: block !important;
    opacity: 0;
}



.form-results.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}


