<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Earnings Details</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Tip Total: <span>{{ myEarnings.earnings.tipTotal | currency }}</span></li>
                            <li>Meal count: <span>{{ myEarnings.earnings.mealCount }}</span></li>
                            <li>Total: <span>{{ myEarnings.earnings.total | currency }}</span></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <footer class="col-xs-12 text-right">
        <a href="/#/new-meal/reset" class="btn btn-default" >Reset</a>
    </footer>
</div>